<nav class="dn db-ns fixed top-0 left-0 bottom-0 bg-dark-gray mw5">
  <div class="pv4 ph3">
    <h1 class="white f3 mt0 mb2 fw4 tracked-mid">
      <span class="silver">></span> techconference
    </h1>
    <span class="light-silver lh-copy f6">
      Tips and advice to help you plan your next tech conference.
    </span>

    <div class="bt bb b--mid-gray mt4 pv2">
      <ul class="list pl0">
        <li class="mb3">
          <a href="" class="white link">
            Speakers
          </a>
        </li>
        <li class="mb3">
          <a href="" class="white link">
            Location
          </a>
        </li>
        <li class="mb3">
          <a href="" class="white link">
            Fun Stuff
          </a>
        </li>
        <li class="mb3">
          <a href="" class="white link">
            A/V
          </a>
        </li>
        <li class="mb3">
          <a href="" class="white link">
            Finance
          </a>
        </li>
        <li class="mb3">
          <a href="" class="white link">
            Marketing
          </a>
        </li>
      </ul>
    </div>

    <span class="absolute bottom-1 mr2 lh-copy gray f6">
      Brought to you by the team that put on EMPEX. <3 from NYC.
    </span>
  </div>
</nav>
